<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- куда писать-->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="conf xml: %d %-5p (%C:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="fileout" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logFile.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="4"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="conf xml: %d %-5p (%C:%L) - %m%n" />
        </layout>
    </appender>
    <!-- откуда писать-->
    <logger name="org.springframework.web" additivity="false">
        <level value="debug" />
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value="info" />
        <appender-ref ref="fileout" />
    </logger>

    <root>
        <priority value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="fileout" />
    </root>


</log4j:configuration>