<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Heading</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                <br>Ut enim ad minim veniam, quis nostrud</p>

        </div>
        <div style="padding:60px 0px 20px 0px">
            <button ng-click="openNewClientModal()" class="btn btn-default">Новый клиент</button>
            <button ng-click="openNewInfoModal(selectedItem)" class="btn btn-default">Добавить информацию</button>
            <button ng-click="openEditModal(selectedItem)" class="btn btn-default">Изменить информацию</button>
            <input type="text" placeholder="Поиск" class="form-control ng-pristine ng-valid" ng-model="f.$">
        </div>
        <table st-pipe="getAllRecords" st-table="loans" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th st-sort="loan.person.name">ФИО</th>
                <th ng-click="predicate = 'birthday'; reverse=!reverse">ДР</th>
                <th ng-click="predicate = 'inn'; reverse=!reverse">ИНН</th>
                <th ng-click="predicate = 'passSerial'; reverse=!reverse">Паспорт</th>
                <th ng-click="predicate = 'gender'; reverse=!reverse">Пол</th>
                <th ng-click="predicate = 'amount'; reverse=!reverse">Сумма</th>
                <th>Баланс</th>
                <th>Валюта</th>
                <th>Банк</th>
                <th>Открыт</th>
                <th>Закрыт</th>
                <th>Просрочки</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in loans|filter:f" ng-click="selectItem(l)">
                <td>{{l.id}}</td>
                <td>{{l.person.surname}} {{l.person.name}} {{l.person.patronymic}}</td>
                <td>{{l.person.birthday | date: 'yyyy-MM-dd'}}</td>
                <td>{{l.person.inn}}</td>
                <td>{{l.person.passSerial}} {{l.person.passNumber}}</td>
                <td>{{l.person.gender}}</td>
                <td>{{l.initAmount}}</td>
                <td>{{l.balance}}</td>
                <td>{{l.currency.name}} : {{l.currency.code}}</td>
                <td>{{l.bank.name}} : {{l.bank.code}}</td>
                <td>{{l.initDate | date}}</td>
                <td>{{l.finishDate| date}}</td>
                <td>{{l.arrears}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-items-by-page="10" st-pagination=""
                         st-template="views/pagination/pagination.custom.html"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>
