<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Что это за сервис?</h1>
                <p class="lead text-left">Данный сервис представляет собой клиентское приложение для работы с персональными
                    данными клиентов финансовых установ. Ниже представлены основные возможности
                    сервиса.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                     class="img-circle img-responsive">
                <h2>A Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                     class="center-block img-circle img-responsive">
                <h2>A title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                     class="img-circle img-responsive">
                <h2>A title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
        </div>
    </div>
</div>